*{
    padding:0;
    margin:0;
}
#maindiv{
    height: 77px;
    background-color: rgba(251, 253, 255, 0.5);
}
header{
    position:fixed;
    top:0px
}
#header1{
    background-color:rgb(8, 29, 69);
    color:white;
    text-align: end;
    height: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    padding-right: 20px;
    padding-top:5px;
}
#header2{
    height: 70px;
    display: inline-block;
    background-color: white;
    border: 2px solid rgb(9, 9, 9);
    
}
#header3{
    position: relative;
    bottom: 50px;
    height: 77px;
    width: 800px;
    margin-left: 750px;
}
#home{
    color:black;
    text-decoration: none;
    font-size: larger;
}
#about, #service, #contact{
    margin-left: 100px;
    color:black;
    text-decoration: none;
    font-size: larger;
}
#register{
    margin-left: 100px;
    padding: 10px 20px 10px 20px;
    background-color: black;
    color:white;
    border-radius: 10px;
}
.background{
    background-image: url("https://wallpapercave.com/wp/wp9283374.jpg");
    min-height:100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#box{
    height: 470px;
    width: 400px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position:relative;
    left:980px;
    top:180px;
    text-align: center;
    font-size:xx-large;

}
#headofbox{
    background: rgba(209, 225, 248, 0.425);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position:relative;
    top:28px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top:5px;
    padding-bottom:5px;
    color: white;
    border: 2px solid black;
}
#plogo{
    max-width: 50px;
    height: auto; 
    border-radius: 50%; 
    padding: 10px;
    background-color: white;
    position:relative;
    left: 1010px;
    bottom: 160px;
}
#slogo{
    max-height: 50px;
    height: auto; 
    border-radius: 50%; 
    background-color: white;
    padding: 10px;
    background-color: white;
    position:relative;
    left: 940px;
    bottom: 30px;
}
#plink{
    position:relative;
    left: 970px;
    bottom: 190px;
    background-color:rgb(244, 118, 72);
    color: black;
    text-decoration: none;
    padding: 10px 60px 10px 60px;
    border: 1px solid white;
    border-radius: 7px;
    font-size: larger;
}
#slink{
    position:relative;
    left: 770px;
    bottom: 60px;
    background-color:rgb(54, 105, 214);
    color: black;
    text-decoration: none;
    padding: 10px 70px 10px 70px;
    border: 1px solid white;
    border-radius: 7px;
    font-size: larger;
}
#hr1{
    position:relative;
    top: 60px;
}
#hr2{
    position:relative;
    top: 350px;
}
#footer{
    height: 40px;
    background-color: rgb(8, 29, 69);
}